<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>QuickPoll</title>


	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<div class="center">
		<center>
            <h1>QuickPoll</h1>
            <p>Quickly create polls. Polls are now stored in a database.</p>
                <form action="/create">
                    <input type="text" placeholder="Enter a question" id="question" name="question" required>
                    <input type="text" placeholder="Option 1" name="options" required>
                    <input type="text" placeholder="Option 2" name="options" required>
                    <div class="button-group">
                        <button type="button" onclick="addOption()">+</button>
                        <button type="button" onclick="removeOption()">-</button>
                    </div>
                    <input type="submit" value="Create">
                </form>

    </center>
  </div>
  <footer class="footer-links">
    <a href="/">Home</a>
    <!--<a href="/advanced">Advanced</a>-->
  </footer><br>
  <script>
    function addOption() {
        const form = document.querySelector('form');
        const newOption = document.createElement('input');
        newOption.type = 'text';
        newOption.placeholder = `Option ${form.querySelectorAll('input[name="options"]').length + 1}`;
        newOption.name = 'options';
        newOption.required = true;
        form.insertBefore(newOption, form.querySelector('.button-group'));
    }

    function removeOption() {
        const form = document.querySelector('form');
        const options = form.querySelectorAll('input[name="options"]');
        if (options.length > 2) {
            form.removeChild(options[options.length - 1]);
        }
    }
  </script>
</body>
</html>